	body
	{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif; 
	background-color: cornsilk; 

	}


.container 
{

	padding-bottom:25px;

}


#footer_style 
{
 border-top: 1px solid black;

}


.footer_section footer,small
{font-weight: bold;
	position:relative;
	bottom: 0px; 
	left: 0px; 
	min-width:100%; 
	text-align: center;
	padding: 15px;

}
