body
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif; 
	background-color: cornsilk; 

}

.page_headings
{
padding-top: 50px;
	
}
.dropdown-header
{

	border:2px solid white;
	background: black; 
	color:cornsilk;
}


.resume_nav 
{ 
	font-size: 12px; 
    font-weight: bold; 
    background-color: black;
    position: absolute;
    top:0px;
    left: -15px;
    min-height: 55px;
    max-height: 60px

}




.resume_nav ul 
{

	padding: 3px 3px; 



}
.resume_nav li
{
	
	padding: 5px; 

}
.dropdown 
{
	display: inline;
}

.resume_nav a
{
	text-decoration: none;
	color: white;
	padding: 3px 3px 3px 3px ;
}

.dropdown-menu 
{
	background-color:lightgreen;
	padding-top: 0px; 
	padding-bottom:0px;
	text-decoration: none;
	

}	
.

.dropdown-menu li
{
	padding:3px;

}

.dropdown-menu a
{
	text-decoration:none;
	color: black; 
	padding: 3px 3px 3px 3px ;


}
.dropdown-item:hover
{
	background-color: darkgrey; 
}
.dropdown-item a:hover
{
	background-color: purple; 
}

.dropdown-menu ul
{
	padding:2px 2px;

}

.dropdown-menu li
{
	padding:3px;

}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
	color:white;
	
}
