body
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif; 
	background-color: cornsilk; 

}

.page_headings 
{
position: relative;
top:2px;
left:50px;
padding-top: 15px;
background-color:grey; 
color:white; 
border:2px solid white;
max-width:450px;
min-width: 250px;
box-shadow: 5px 5px black;
opacity: 2.0;
z-index: -1; 
	
}
.dropdown-header
{

	border:2px solid white;
	background: black; 
	color:cornsilk;
}


.navigation
{

	font-size: 12px; 
    font-weight: bold; 
    background-color: black;
    position:relative;
    top:0px;
    left: 0px;
	min-width: 65%; 
	max-width: 100%; 
	min-height:5%;
	max-height: 7%;  

}

li.dropdown>a:focus, li.dropdown>a:hover
{
	color:white;
	
}



li.dropdown:hover 
{
	background: darkgrey;

}

.dropdown a:hover, a:focus
{
	background-color: purple;


}





.resume_nav ul 
{

	padding: 3px 3px; 



}
.resume_nav li
{
	
	padding: 5px; 

}



.dropdown 
{
	display: inline;
}

.resume_nav a
{
	text-decoration: none;
	color: white;
	padding: 3px 3px 3px 3px ;
}

.dropdown-menu 
{
	background-color:lightgreen;
	padding-top: 0px; 
	padding-bottom:0px;
	text-decoration: none;
	

}	


.dropdown-menu li
{
	padding:3px;

}

.dropdown-menu a
{
	text-decoration:none;
	color: black; 
	padding: 3px 3px 3px 3px ;


}
.dropdown-item:hover
{
	background-color: darkgrey; 
}
.dropdown-item a:hover
{
	background-color: purple; 
}

.dropdown-menu ul
{
	padding:2px 2px;

}

.dropdown-menu li
{
	padding:3px;

}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
	color:white;
	
}
.footer_section
{
	position:relative;
	bottom: 0px; 
	left: 0px; 
	border-top: 1px solid black; 
    min-width: 100%;
    text-align: left;
    min-height: 1px;
    padding: 15px;

}
