/* Default theme */ 

#test_theme_heading
{
	color:#C62D42; 

}
#test_player_heading
{
	color: #C62D42; 

}
#versus_player
{ 
	color: #C62D42; 
}
.modal-header
{
	background-color: #ffe6e6; 
	border-bottom: white 1px solid;
}

.modal-body
{
	background-color: #ffe6e6; 
	color:#C62D42;
}
.modal-footer
{
	border-color: white; 
	background-color:  #ffe6e6;
}
.modal-content
{
	background-color:  #ffe6e6; 
}
.close
{
	color: #C62D42;
}

.close:hover
{
color:black;

}

.btn
{
	background-color:white;
	color: black; 
	 
} 
.btn:visited
{
	background-color: white;
	color: #C62D42; 
	opacity:.6;  
} 

.btn:hover
{
	background-color:white;
	color: #C62D42;
	opacity:.7; 
	
} 




.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {

	background-color:white;
	color: black; 
	
}

#dropdown_changing
{
	background-color:#ffe6e6;
	padding-top: 0px; 
	padding-bottom:0px;
	max-height: 105px; 
	text-decoration: none;
	overflow-y: scroll;
	overflow-x: scroll;
	
}

.dropdown-item:hover
{
	background-color:white; 
	color: #C62D42;
}



