/* Button interface style */
.btn
{ 
	font-size: 12px; 
    font-weight: bold; 
    background-color:black;
  	color: cornsilk;
}

/* dropdown-header style*/

/*
#main_dropdown_header 
{

}
#python_dropdown_header
{

}
#C_dropdown_header
{

}

#other_dropdown_header
{


}

#java_dropdown_header
{


}
#capstone_dropdown_header
{


}
#college_dropdown_header
{


}
#bottom_menu_header
{

}*/

.dropdown-header
{

	border:2px solid white;
	background: black; 
	color:cornsilk;
}


/*  end of dropdown-header style script*/


/* Dropdown Button Style */
.dropdown-menu
{
	background-color:lightgreen;
	padding-top: 0px; 
	padding-bottom:0px;
	text-decoration: none;
	
	
}
.dropdown-menu ul
{
	padding:2px 2px;

}

.dropdown-menu li
{
	padding:3px;

}

.dropdown-menu a
{
	text-decoration:none;
	color: black; 
	padding: 3px 3px 3px 3px ;


}
.dropdown-item:hover
{
	background-color: darkgrey; 
}
.dropdown-item a:hover
{
	color: #6773EB;
}
