

#page_break
{
	
	padding-top:35px;
}
/* general Calculator theme*/
#calc_heading_label
{
	position: relative;
	top:150px;
	left:200px;
	background-color:darkgreen;
	color:#CFB53B; 
	border: 1px solid black; 
	max-width: 400px;

}

#calc_heading_full_simple
{
	position: relative;
	top:310px;
	left:200px;
	background-color:darkgreen; 
	color: white; 
	border: 1px solid black; 
	max-width: 425px;

}


#calulator_style
{
	position: relative;
	top:142px;
	left:200px;
	min-height:200px;
	min-width: 75px; 
	max-width: 450px;
	background-color:darkgreen; 
	color:#CFB53B; 
	border: 1px solid black; 
    padding:50px;  
}
#calc_forms
{
	position: relative;
	top:300px;
	left:200px;
	min-height:300px;
	min-width: 350px; 
	max-width: 450px;
	background-color:darkgreen; 
	border: 1px solid black; 
    padding:50px;  
}

/* Calculator interface styling */
#calculation
{
	text-align: right;
	position: absolute;
	top: 0px;
	left:20px;
	
}
#calculation_input_full_simple
{
	text-align: right;
	position: absolute;
	top: 0px;
	left:75px;
}

#calculation_1
{
	text-align: right;
	position: absolute;
	top: 0px;
	left:185px;
	
}

#calculation_3
{

	text-align: center;
	position: absolute;
	top: 0px;
	left:110px;
}

#calculation_2
{

	text-align: center;
	position: absolute;
	bottom: 0px;
	left:85px;
}

{

	text-align: center;
	position: absolute;
	bottom: 0px;
	left:85px;
}
#test
{
	text-align:left;
	font-size: 20px;
	position: absolute;
	bottom: -10px;
	left:6px;

}


#button_7
{
	position: absolute;
	top: 35px;
	right:260px;
	
}

#button_8
{
	position: absolute;
	top: 35px;
	right:185px;
	
}

#button_9
{
	position: absolute;
	top: 35px;
	right:110px;
	
}
#button_4
{
	position: absolute;
	top: 95px;
	right:260px;
	
}

#button_5
{
	position: absolute;
	top: 95px;
	right:185px;
	
}
#button_6
{
	position: absolute;
	top: 95px;
	right:110px;
	
}
#button_1
{
	position: absolute;
	top: 155px;
	right:260px;
	
}
#button_2
{
	position: absolute;
	top: 155px;
	right:185px;
	
}
#button_3
{
	position: absolute;
	top: 155px;
	right:110px;
	
}

#button_0
{
	position: absolute;
	top: 215px;
	right:185px;
	
}

#button_clear_full
{
	position: absolute;
	top: 215px;
	left:100px;
	
}
#button_equals_full
{
	position: absolute;
	bottom:5px;
	right:25px;

}

#button_clear
{
	position: absolute;
	top: 35px;
	left:0px;
	
}

#button_decimal
{
	position: absolute;
	top: 215px;
	right:110px;
	
}

#button_equals
{
	position: absolute;
	top: 35px;
	right:0px;

}

#button_addition
{
	position: absolute;
	top: 180px;
	right:25px;
	
}	

#button_substraction
{
	position: absolute;
	top: 120px;
	right:25px;
	
}

#button_multiplication
{
	position: absolute;
	top: 60px;
	right:25px;
	
}

#button_division
{
	position: absolute;
	top: 3px;
	right:25px;
	
}

