
.container 
{
	padding-bottom:25px;
}
#page_break
{
	
	padding-top:35px;
}
/* general Calculator theme*/
#calc_heading_label
{
	position: relative;
	top:8px;
	background-color:darkgreen;
	color:#CFB53B; 
	border: 1px solid black; 
	max-width: 400px;

	
}


#calulator_style 
{
	position: relative;
	min-height:300px;
	min-width: 350px; 
	max-width: 450px;
	background-color:darkgreen; 
	color:#CFB53B;
	border: 1px solid black; 
  
}


/* Calculator interface styling */
#Test_1
{
	text-align: right;
	position: absolute;
	top: 0px;
	left:20px;
	
}


#calculation_1
{
	text-align: right;
	position: absolute;
	top: 0px;
	left:185px;
	
}

#calculation_3
{

	text-align: center;
	position: absolute;
	top: 0px;
	left:127px;
}

#calculation_2
{

	text-align: center;
	position: absolute;
	bottom: 0px;
	left:85px;
}


#test
{
	text-align:left;
	font-size: 20px;
	position: absolute;
	bottom: -10px;
	left:6px;

}


#button_7
{
	position: absolute;
	top: 35px;
	right:260px;
	
}

#button_8
{
	position: absolute;
	top: 35px;
	right:185px;
	
}

#button_9
{
	position: absolute;
	top: 35px;
	right:110px;
	
}
#button_4
{
	position: absolute;
	top: 95px;
	right:260px;
	
}

#button_5
{
	position: absolute;
	top: 95px;
	right:185px;
	
}
#button_6
{
	position: absolute;
	top: 95px;
	right:110px;
	
}
#button_1
{
	position: absolute;
	top: 155px;
	right:260px;
	
}
#button_2
{
	position: absolute;
	top: 155px;
	right:185px;
	
}
#button_3
{
	position: absolute;
	top: 155px;
	right:110px;
	
}

#button_0
{
	position: absolute;
	top: 215px;
	right:185px;
	
}


#button_clear
{
		position: absolute;
	top: 215px;
	left:75px;
	
}

#button_decimal
{
	position: absolute;
	top: 215px;
	right:110px;
	
}

#button_equals
{
	position: absolute;
	top: 35px;
	right:0px;

}



