# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
public_html/under-construction.jpg

.sql
public_html/Capstone Website source files/test_user - Copy.sql
public_html/Capstone Website source files/capstone_user_db - Copy.sql
public_html/Capstone Website source files/Capstone-Magic-Forum/resources/db_setup - Copy.php
public_html/Capstone Website source files/Capstone-Magic-Forum/resources/db_setup.php
resources/db_setup.php
public_html/Capstone Website source files/capstone_user_db.sql
public_html/Capstone Website source files/test_user.sql
public_html/Capstone_Website_source_files/Capstone-Magic-Forum/resources/db_setup.php
*.sql
