body
{
	background-color: brown; 
	color:white;
}

/*
More Navigation Style changes 
 */
#button_nav_header
{
	position:absolute;
	top: 0px;
	right:0px;
	font-size: 1.5em;
	text-decoration: underline;
	font-weight: bold;
}


#second_button_menu
{
	position:relative;
	top: 100px;
	left: 0px;
	float: right;
	padding-right: 0px;
	font-size: 1.5em;
	text-decoration: underline;
	font-weight: bold;
}



 .btn-group a
 {
 	position:absolute;
	top: 0px;
	left:5px;

 }
 .btn-group>.btn 
 {
 	position: relative;	
	float: right;
 	
 }
.postButtonColor
{
	color:white;
	background-color:forestgreen;

}
.closeButtonColor
{
	color:red;
	background-color:black

}
.docLinks a
{
	background-color: black;
	color: lightblue; 
}
.docLinks a:hover
{
	background-color: forestgreen;
	color: black; 
}
.documentation a
{
	color: white;
	background-color:black;
	text-decoration: none;
}
.documentation a:hover
{
	color: white;
	background-color:forestgreen;
	text-decoration: none;
}

/*
End of more navigation changes.
 */

.below_menu_container
{
	padding-top: 50px;
}
.index_table table,th,td
{
	border: 1px solid white; 

}

/* Form CSS chages made so they were readable*/
.registration_form table,th,td
{
	border-style: none;
	color: black;
}

#logIn
{
	border-style: none;
	color: black;
}
fieldset
{
	position: relative;
	left: 0px; 
	color: black; 
	font-weight:bold;
}
select
{
	color: black; 
}
input
{
	color: black;
}
textarea
{
	color:black
}


/*
end of form changes to make them readable to the user. 
 */
/*
	Start of index.php site map style changes  
 */
.default_heading
{
	text-decoration: underline;
}
.color_1 
{
	background-color: black; 

}
.color_1 a
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.color_1 a:hover
{
	color: orange;
	
}
.color_2 
{
	background-color: white; 
	color: black; 	

}
.color_1_txt
{
	background-color: black; 
	color:white;
	text-decoration:underline;
	font-weight: bold;

}


.submenuItem 
{
	background-color: black;

}
.submenuItem a 
{
	color:white;
	background-color: darkblue;
	text-decoration: none;
	
}
.submenuItem a:hover
{
	color: lightgrey;

} 

	/*
	end of Index.php table css 
	 */
	
	/*
	Start of the large style modification of all navigation elements on the web site.
	 */
.nav
{ 
	font-size: 12px; 
    font-weight: bold; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: black;
    position: absolute;
    top:0px;
    left: 0px;
    min-height: 55px;
    min-width: 45%; 
    max-width: 85%;
    max-height: 60px;
}

.magic_navigation ul 
{
	padding: 3px 3px; 

}
.magic_navigation li
{
	display: inline;
	padding: 5px; 

}

.magic_navigation a
{
	text-decoration: none;
	color: white; 
	padding: 3px 3px 3px 3px ;
}
.magic_navigation a:hover
{
	color: orange;
	
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover
{
	background-color: brown;
}
.nav a:hover, a:focus
{
	background-color: brown; 
}

  ul.dropdown-menu li>a
{
 color: white;

}

.dropdown-header 
{
	color: orange; 
}
.dropdown-menu .divider
{

	background-color: transparent;	 

}
 ul.dropdown-menu
 {
 	background-color: brown;
 }
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
	color:black;
	
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
	background: orange;
}

ul.dropdown-menu 
{
	z-index: 1; 
}


.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled
{
	background-color: brown;
	border:transparent;
}

.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover
{
	background-color: brown;
	border:transparent;

}

.description_section
{
	position: relative;
	top: 30px;
	left:5px; 
}

.description_section button 
{
	background-color: darkblue; 
	color: white; 
}

.description_section button:hover 
{
	
	color: ghostwhite; 
}



#log_in 
{
	color: white; 
	background-color:darkblue; 
}
#log_in:hover
{
	color: red; 
	background-color:white; 	
}

#register:hover
{
	color: black; 
	background-color:white; 
}

#register
{
	color: white; 
	background-color:forestgreen; 

}

#backHome 
{
	background-color:green; 
	color:black;
	text-decoration: none; 
	
}
#backHome:hover 
{
	background-color:white; 
	color:green;
	text-decoration: none; 
	
}
.Errors
{
	background-color: white; 
	color: red; 
	max-width: 200px;

}
.addPosthead
{
	position: relative;
	top: 0px;
	left: 15px; 
}

.SubmitPost
{
	position: relative;
	top: 0px;
	left: 15px; 
	background-color: black; 
	color:red;
}


.SubmitPost:hover
{
	color: white; 
	background-color:black; 

}

.latest_posts
{
	position: relative;
	top: 30px; 
	left: 15px; 


}
.latest_posts p
{
	max-width: 400px; 
	word-wrap: break-word;
	background-color: black;
	border:1px solid orange;

}

.modal-header
{
	color: black;
}
.label-control
{
	color: black;

}

.form_label input
{
	position:absolute; 
	left: 25px; 
}

#userSupportGroup
{
	position:relative;
	top: 250px;
	left:-740px; 
	font-size: 1em;
	font-weight: bold;

}

.footer_style footer
{
	position: relative;
	bottom: 0px; 
	left: 0px;
	min-width: 100%; 
	text-align: center;
	height: 100px;
    padding:25px;

}


.footer_style h6
{
	text-decoration: underline;
}
