/* this entire script is identical style info for the different id's of descriptions th*/
#magic_description
{
	position: relative;
	left: 0px; 
	top: 50px;
	max-width: 650px;
	padding-bottom: 15px;

}

#PPTQ_description
{
	position: relative;
	left: 0px; 
	top: 50px;
	max-width: 650px;
	padding-bottom: 15px;

}


#RPTQ_description
{
	position: relative;
	left: 0px; 
	top: 50px;
	max-width: 650px;
	padding-bottom: 15px;

}

#TH_description
{
	position: relative;
	left: 0px; 
	top: 50px;
	max-width: 650px;
	padding-bottom: 15px;

}

#FNM_description
{
	position: relative;
	left: 0px; 
	top: 50px;
	max-width: 650px;
	padding-bottom: 15px;
}

#commander_description
{
	position: relative;
	left: 0px; 
	top: 50px;
	max-width: 650px;
	padding-bottom: 15px;
}
#PT_description
{
	position: relative;
	left: 0px; 
	top: 50px;
	max-width: 650px;
	padding-bottom: 15px;
}

#modern_description
{
	position: relative;
	left: 0px; 
	top: 50px;
	max-width: 650px;
	padding-bottom: 15px;
}

#standard_description
{
	position: relative;
	left: 0px; 
	top: 50px;
	max-width: 650px;
	padding-bottom: 15px;
}

#legacy_description
{
	position: relative;
	left: 0px; 
	top: 50px;
	max-width: 650px;
	padding-bottom: 15px;
}

#MTGO_description
{
	position: relative;
	left: 0px; 
	top: 50px;
	max-width: 650px;
	padding-bottom: 15px;
}
